<div id="D3dailyAVGSpeedGraph">
	<h1>Daily Average Speed per Hour</h1>
</div>
<script>

	function createGraph() {
		var jsonData = JSON.stringify({ day: $("#week-day").val() })
		console.log(jsonData.toString());
		$.ajax({
			type: 'POST',
			url: '@Url.Action("getAVGDailySpeed")',
			contentType: "application/json; charset=utf-8",
			data: jsonData,
			datatype: 'json',
			success: function (data) {
				
				var dataset = [];
				for (var i = 0; i < data.length ;i++) {
					dataset.push(Math.round(data[i].avgSpeed));
				}
				barChart(dataset);
			}
		});
	}

</script>