
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
	var trafficPaths = [], map, coordPoints = [];
	function initMap() {

		map = new google.maps.Map(document.getElementById('map'), {
			center: { lat: 10.8231, lng: 106.6297 },
			zoom: 13,
			disableDefaultUI: true,
			styles: [
  {
  	"elementType": "geometry",
  	"stylers": [
      {
      	"color": "#242f3e"
      }
  	]
  },
  {
  	"elementType": "labels.text.fill",
  	"stylers": [
      {
      	"color": "#F37F27"
      }
  	]
  },
  {
  	"elementType": "labels.text.stroke",
  	"stylers": [
      {
      	"color": "#383838"
      }
  	]
  },
  {
  	"featureType": "administrative.locality",
  	"elementType": "labels.text.fill",
  	"stylers": [
      {
      	"color": "#F37F27"
      },
      {
      	"visibility": "on"
      }
  	]
  },
  {
  	"featureType": "administrative.neighborhood",
  	"stylers": [
      {
      	"visibility": "off"
      }
  	]
  },
  {
  	"featureType": "landscape",
  	"stylers": [
      {
      	"color": "#EFEFEF"
      }
  	]
  },
  {
  	"featureType": "poi",
  	"stylers": [
      {
      	"visibility": "off"
      }
  	]
  },
  {
  	"featureType": "poi.park",
  	"stylers": [
      {
      	"visibility": "off"
      }
  	]
  },
  {
  	"featureType": "poi.park",
  	"elementType": "geometry",
  	"stylers": [
      {
      	"color": "#263c3f"
      }
  	]
  },
  {
  	"featureType": "poi.park",
  	"elementType": "labels.text.fill",
  	"stylers": [
      {
      	"color": "#F37F27"
      }
  	]
  },
  {
  	"featureType": "road",
  	"elementType": "geometry",
  	"stylers": [
      {
      	"color": "#38414e"
      }
  	]
  },
  {
  	"featureType": "road",
  	"elementType": "geometry.stroke",
  	"stylers": [
      {
      	"color": "#212a37"
      }
  	]
  },
  {
  	"featureType": "road",
  	"elementType": "labels",
  	"stylers": [
      {
      	"visibility": "off"
      }
  	]
  },
  {
  	"featureType": "road",
  	"elementType": "labels.icon",
  	"stylers": [
      {
      	"visibility": "off"
      }
  	]
  },
  {
  	"featureType": "road",
  	"elementType": "labels.text.fill",
  	"stylers": [
      {
      	"color": "#F37F27"
      },
      {
      	"visibility": "off"
      }
  	]
  },
  {
  	"featureType": "road.arterial",
  	"elementType": "labels",
  	"stylers": [
      {
      	"visibility": "off"
      }
  	]
  },
  {
  	"featureType": "road.highway",
  	"elementType": "geometry",
  	"stylers": [
      {
      	"color": "#746855"
      }
  	]
  },
  {
  	"featureType": "road.highway",
  	"elementType": "geometry.stroke",
  	"stylers": [
      {
      	"color": "#1f2835"
      },
      {
      	"weight": 1
      }
  	]
  },
  {
  	"featureType": "road.highway",
  	"elementType": "labels.icon",
  	"stylers": [
      {
      	"visibility": "on"
      }
  	]
  },
  {
  	"featureType": "road.highway",
  	"elementType": "labels.text.fill",
  	"stylers": [
      {
      	"color": "#F37F27"
      }
  	]
  },
  {
  	"featureType": "road.highway.controlled_access",
  	"elementType": "geometry",
  	"stylers": [
      {
      	"color": "#746855"
      },
      {
      	"weight": 1
      }
  	]
  },
  {
  	"featureType": "road.highway.controlled_access",
  	"elementType": "geometry.fill",
  	"stylers": [
      {
      	"color": "#746855"
      },
      {
      	"weight": 5
      }
  	]
  },
  {
  	"featureType": "road.highway.controlled_access",
  	"elementType": "geometry.stroke",
  	"stylers": [
      {
      	"color": "#1f2835"
      },
      {
      	"weight": 2
      }
  	]
  },
  {
  	"featureType": "road.local",
  	"elementType": "labels",
  	"stylers": [
      {
      	"visibility": "off"
      }
  	]
  },
  {
  	"featureType": "transit",
  	"stylers": [
      {
      	"visibility": "off"
      }
  	]
  },
  {
  	"featureType": "transit",
  	"elementType": "geometry",
  	"stylers": [
      {
      	"color": "#2f3948"
      }
  	]
  },
  {
  	"featureType": "transit",
  	"elementType": "labels",
  	"stylers": [
      {
      	"visibility": "off"
      }
  	]
  },
  {
  	"featureType": "transit.station",
  	"elementType": "labels.text.fill",
  	"stylers": [
      {
      	"color": "#F37F27"
      }
  	]
  },
  {
  	"featureType": "transit.station.airport",
  	"elementType": "labels.icon",
  	"stylers": [
      {
      	"visibility": "simplified"
      }
  	]
  },
  {
  	"featureType": "transit.station.bus",
  	"elementType": "labels.icon",
  	"stylers": [
      {
      	"visibility": "simplified"
      }
  	]
  },
  {
  	"featureType": "water",
  	"elementType": "geometry",
  	"stylers": [
      {
      	"color": "#9DD1F1"
      }
  	]
  },
  {
  	"featureType": "water",
  	"elementType": "labels.text",
  	"stylers": [
      {
      	"visibility": "off"
      }
  	]
  },
  {
  	"featureType": "water",
  	"elementType": "labels.text.fill",
  	"stylers": [
      {
      	"color": "#F37F27"
      }
  	]
  },
  {
  	"featureType": "water",
  	"elementType": "labels.text.stroke",
  	"stylers": [
      {
      	"color": "#383838"
      }
  	]
  }
			]
		});
	}
</script>
<script>
	$(document).ready(function () {
		var date = new Date();
		var weekday = new Array(7);
		weekday[0] = "Sunday";
		weekday[1] = "Monday";
		weekday[2] = "Tuesday";
		weekday[3] = "Wednesday";
		weekday[4] = "Thursday";
		weekday[5] = "Friday";
		weekday[6] = "Saturday";
		var n = weekday[date.getDay()];

		$("#ddlSelectHour").val(date.getHours());
		$("#ddlSelectDay").val(n);
		fillBox($("#ddlSelectHour").val());
		json();
		// Uncoment the two lines bellow to get map updated right after changing the hour OR day
		//$("#ddlSelectHour").change(json);
		//$("#ddlSelectDay").change(json);
	});
	function json() {
		var jsonData = JSON.stringify({ hour: $("#ddlSelectHour").val(), day: $("#ddlSelectDay").val() })
		console.log(jsonData.toString());
		$.ajax({
			type: 'POST',
			url: '@Url.Action("getListLatLongs")',
			contentType: "application/json; charset=utf-8",
			data: jsonData,
			datatype: 'json',
			success: function (data) {

				//this clears the polylines
				for (var i = 0; i < trafficPaths.length; i++) {
					trafficPaths[i].setMap(null);
				}
				trafficPaths = [];

				/**
				 * Counting the unique devices in the 'data' from the AJAX query
				 * 'countDeviceID' will contain the unique IDs 'console.log(countDeviceID[0])' prints  "43C04062" corresponding ID value.
				 * 'countDeviceID.length' will store the unique No. of IDs
				 */
				var countDeviceID = [], prevID;
				for (var i = 0; i < data.length; i++) {
					if (data[i].deviceID !== prevID) {
						countDeviceID.push(data[i].deviceID);
					}
					prevID = data[i].deviceID;
				}
				console.log(countDeviceID.length);
				var Colors = [
						"#88E39E", // LIGHT GREEN
						"#7FB069", // GREEN
						"#F9E793", // LIGHT YELLOW
						"#F9DC5C", // YELLOW
						"#EF6461", // LIGHT RED
						"#630A08",  // RED
					  "#EC0868" // ZERO

				];


				// 'ActualDevice' will be use to avoid runnig throuhg all the data every time, this var will store the last position on the data set
				var ActualDevice = 0;
				//loop through each device and draw each part, change the colour based on the speed
				for (var j = 0; j < countDeviceID.length; j++) {
					coordPoints = [];

					for (var i = ActualDevice; i < data.length; i++) {
						// if deviceID is the same in add values to coordPoints
						if (data[i].deviceID == countDeviceID[j]) {
							coordPoints.push(new google.maps.LatLng(data[i].latitude, data[i].longitude));
						}
							// else update actualPosition and exit the loop
						else {
							ActualDevice = i;
							break;
						}
					}
					for (var i = 0; i < coordPoints.length - 1; i++) {
						var colour;
						var actualSpeed = data[i].speed;
						if (data[i].speed <= 10) {
							colour = Colors[5];
						} else if (data[i].speed <= 15) {
							colour = Colors[4];
						} else if (data[i].speed <= 20) {
							colour = Colors[3];
						} else if (data[i].speed <= 30) {
							colour = Colors[2];
						} else if (data[i].speed <= 45) {
							colour = Colors[1];
						} else {
							colour = Colors[0];
						}

						//sets up polylines and draws them
						var PathStyle = new google.maps.Polyline({
							txt: actualSpeed,
							strokeOpacity: 0.85,
							strokeWeight: 2,
							strokeColor: colour,
							clickable: true,
							path: [coordPoints[i], coordPoints[i + 1]],
							map: map
						});

						//PathStyle.setPath();

						// speedTip = will load the speed value for each section for each device.
						var speedTip = new google.maps.InfoWindow();
						//Once the user click on the path the tooltip will pop with the speed value.
						// other events are: 'click''dblclick''mouseup''mousedown''mouseover''mouseout'
						PathStyle.addListener('mouseover', function (e) {
							speedTip.setPosition(e.latLng);
							speedTip.setContent('<div class="speedTip_style"><p>Speed: ' + this.txt + '</p></p>');
							speedTip.open(map);
						});


						trafficPaths.push(PathStyle);

					}
				}

				console.log("Done!");
			}
		})
	}

	function fillBox(hour) {
		document.getElementById("valueOfddlSelectHour").value = hour + ":00";
		//console.log(hour + day);
	}
</script>
<form method="post">
	<div id="floating-panel">
		<label for="ddlSelectHour">Hour:</label>
		<input type="range" id="ddlSelectHour" value="12" min="0" max="23" onchange="fillBox(this.value);">
		<input type="text" disabled id="valueOfddlSelectHour" />
		<label for="ddlSelectDay">Day:</label>
		<select id="ddlSelectDay">
			<option value="Monday">Monday</option>
			<option value="Tuesday">Tuesday</option>
			<option value="Wednesday">Wednesday</option>
			<option value="Thursday">Thursday</option>
			<option value="Friday">Friday</option>
			<option value="Saturday">Saturday</option>
			<option value="Sunday">Sunday</option>
		</select>
		<input type="button" name="update" id="refreshMap" value="Update" onclick="json()" />
		<div id="contentHolder">
		</div>
	</div>

</form>
<div id="map" style="height:500px;"></div>
<script async defer
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSTNesrMExoVPZLjVPAqnKlYECTowvdCs&libraries=visualization&callback=initMap">
</script>
