
<nav id="dashboard">
	<span id="dashboard-control">hide</span>
	<a runat="server" href="~/Map/Index"><h1 class="title"><span class="K initials">K</span><span class="F initials">F</span><span class="C initials">C</span>_Maps</h1></a>
	<div class="section">
		<form method="post">
			<div class="row">
				<select class="form-control week-day-select" id="week-day">
					<option value="" disabled selected>Select Day</option>
					<option value="Monday">Monday</option>
					<option value="Tuesday">Tuesday</option>
					<option value="Wednesday">Wednesday</option>
					<option value="Thursday">Thursday</option>
					<option value="Friday">Friday</option>
					<option value="Saturday">Saturday</option>
					<option value="Sunday">Sunday</option>
				</select>
			</div>
			<p id="hour-selector" class="range-field">
				<input type="text" disabled id="hour-range-value" placeholder="Please Select Time Bellow" value="" />
				<input type="range" id="hour-range" min="0" max="23" onchange="fillBox(this.value);" />
			</p>
		</form>
	</div>
	<div class="section">
		<a href="~/Map/Index" runat="server"><h4 class="section-title">map controls:</h4></a>
		<div id="map-controls">
			<a class="full-width-btn waves-effect waves-light btn-large" id="get-traffic-btn" onclick="json(1),hideDashOnClick()"><i class="material-icons right">trending_up</i>get traffic</a>
			<a class="full-width-btn waves-effect waves-light btn-large" onclick="json(2), hideDashOnClick()"><i class="material-icons right">settings_brightness</i>show heatmap</a>
			<a class="full-width-btn waves-effect waves-light btn-large" onclick="json(3), hideDashOnClick()"><i class="material-icons right">settings_ethernet</i>show voronoi</a>
		</div>
	</div>
	<div class="section">
		<a href="~/Graph/Index" runat="server"><h4 class="section-title">Graph controls:</h4></a>
		<div id="graph-controls">
			<a class="full-width-btn waves-effect waves-light btn-large" onclick="createGraph(), hideDashOnClick()"><i class="material-icons right">view_week</i>daily bar chart</a>
		</div>
	</div>
	@Html.Partial("_LoginPartial")
	<div class="copy"><h6>&copy; <script>document.write(new Date().getFullYear())</script> <a target="_blank" href="http://www.westernsydney.edu.au/">WSU</a> - <a target="_blank" href="http://staff.scem.uws.edu.au/~vinh/">Dr. Quang Vinh Nguyen</a></h6></div>
	<div class="about"><h6><a runat="server" href="~/Home/About">about us</a></h6></div>

</nav>
