<nav id="pxm-sideMenu-maps" class="pxm-sideMenu pxm-sideMenu__vertical pxm-sideMenu__right">
	<h3>Menu Title</h3>
	<div id="pxm-maps-form" class="form-container">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
		<input type="text" value="" placeholder="some value to visualize">
	</div>
</nav>
<i id="showMapsMenu" class="fa fa-map menu-trigger" aria-hidden="true"></i>