<nav id="pxm-sideMenu-maps" class="pxm-sideMenu pxm-sideMenu__vertical pxm-sideMenu__right">
	<h3>Menu Title</h3>
	<input type="text" value="" placeholder="some value to show in map" />
	<input type="text" value="" placeholder="some value to show in map" />
	<input type="text" value="" placeholder="some value to show in map" />
	<input type="text" value="" placeholder="some value to show in map" />
	<input type="text" value="" placeholder="some value to show in map" />
	<input type="text" value="" placeholder="some value to show in map" />
	<input type="text" value="" placeholder="some value to show in map" />
</nav>
<button id="showMapsMenu" class="menu-trigger">&equiv;</button>