<nav id="pxm-sideMenu-visualization" class="pxm-sideMenu pxm-sideMenu__vertical pxm-sideMenu__left">
	<h3 class="">Menu Title</h3>
	<p style="color:whitesmoke;">Desc: this menu here is to give the user the option to generate a graph/chart. If you guys can give me ideas would <span style="font-weight:700;color:seagreen;">HELP</span>.</p>
	<div id="pxm-visualization-form" class="form-container">
		<input class="btn btn-info btn-block" type="button" onclick="clearD3(); barChart()" value="Show Bar Chart I" />
		<input class="btn btn-info btn-block" type="button" onclick="clearD3(); donutChart()" value="Show Bar Chart I" />
	</div>
</nav>
<i id="showVisualizationMenu" class="fa fa-area-chart menu-trigger" aria-hidden="true"></i>