<nav id="pxm-sideMenu-visualization" class="pxm-sideMenu pxm-sideMenu__vertical pxm-sideMenu__left">
	<h3 class="">Menu Title</h3>
	<input type="text" value="" placeholder="some value to visualize" class="">
	<input type="text" value="" placeholder="some value to visualize">
	<input type="text" value="" placeholder="some value to visualize">
	<input type="text" value="" placeholder="some value to visualize" class="">
	<input type="text" value="" placeholder="some value to visualize">
	<input type="text" value="" placeholder="some value to visualize">
	<input type="text" value="" placeholder="some value to visualize" class="">
</nav>
<button id="showVisualizationMenu" class="menu-trigger">&equiv;</button>