/* Coolors Exported Palette - coolors.co/ef6461-f9dc5c-7fb069-f6f7eb-393e41 */

$red: rgba(239, 100, 97, 1);
$yellow: rgba(249, 220, 92, 1);
$green: rgba(127, 176, 105, 1);
$white: rgba(246, 247, 235, 1);
$black: rgba(57, 62, 65, 1);


$D3sea: rgba(27, 153, 139, 1);
$D3red: rgba(219, 80, 74, 1);
$D3pink: rgba(231, 143, 142, 1);
$D3green: rgba(125, 206, 68, 1);
$D3purple: rgba(41, 39, 76, 1);