@import 'palette';

$menuWindth: 90%;
$menuZindex: 500;
$menuTriggerTop: 45%;
$menuTriggerPull: 20px;

$headerFont: 'Francois One', sans-serif;
$textFont: 'Titillium Web', sans-serif;

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headerFont;
}

.pxm-sideMenu {
	position: fixed;
	background: $black;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	@at-root {
		#{&},
		.menu-trigger {
			-webkit-transition: all 350ms ease;
			-moz-transition: all 350ms ease;
			transition: all 350ms ease;
		}
	}

	& h3 {
		display: block;
		text-align: center;
		color: $white;
		border-bottom: solid 4px $white;
		padding: 10px 0;
		margin: 0;
		margin-bottom: 25px;
	}

	& .form-container {
		padding: 1rem;

		& input {
			display: block;
			width: 100%;
		}
	}

	@at-root #{&}__vertical {
		width: $menuWindth;
		height: 100%;
		top: 0;
		z-index: $menuZindex;
	}

	@at-root #{&}__left {
		left: -$menuWindth;

		&.pxm-sideMenu-open {
			left: 0;
		}
	}

	@at-root #{&}__right {
		right: -$menuWindth;

		&.pxm-sideMenu-open {
			right: 0;
		}
	}
}

.menu-trigger {
	position: fixed;
	top: $menuTriggerTop;
	z-index: $menuZindex - 20;
	background: $black;
	color: $white;
	padding: 0.5em;
	border-radius: 35%;

	&.fa {
		font-size: 2.75rem;
	}

	&.disable {
		color: $red;
		pointer-events: none;
	}

	&#showVisualizationMenu {
		left: -$menuTriggerPull;
		padding-left: $menuTriggerPull;

		#pxm-sideMenu-visualization.pxm-sideMenu-open + & {
			left: calc( #{$menuWindth} - #{$menuTriggerPull} );
			z-index: $menuZindex - 10;
		}
	}

	&#showMapsMenu {
		right: -$menuTriggerPull;
		padding-right: $menuTriggerPull;

		#pxm-sideMenu-maps.pxm-sideMenu-open + & {
			right: calc( #{$menuWindth} - #{$menuTriggerPull} );
			z-index: $menuZindex - 10;
		}
	}
}



/*
 * 3DCSS code from here down will only be used for 3DCSS
 */
#D3ChartBar {
	text-align:center;
	& .D3bar {
		width: 2rem;
		margin-right: 0.25rem;
		background: $D3purple;
		display: inline-block;
		&:nth-child(n + 11){
			background: $D3sea;
		}
		&:nth-child(n + 21){
			background: $D3pink;
		}
	}
}
