/* Coolors Exported Palette - coolors.co/ef6461-f9dc5c-7fb069-f6f7eb-393e41 */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px; }

body {
  overflow: hidden;
  background-color: #454b4f;
  font-family: "Quicksand", sans-serif;
  color: #f6f7eb; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Francois One", sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #f6f7eb; }

a,
a:hover,
a:active,
a:visited {
  text-decoration: none; }

.pxm-sideMenu {
  position: fixed;
  background: #393e41;
  overflow-y: scroll; }
  .pxm-sideMenu::-webkit-scrollbar {
    display: none; }
  .pxm-sideMenu,
  .menu-trigger {
    @nclude transitionEase(350); }
  .pxm-sideMenu h3 {
    display: block;
    color: #f6f7eb;
    border-bottom: solid 4px #f6f7eb;
    padding: 10px 0;
    margin: 0;
    margin-bottom: 25px; }
  .pxm-sideMenu .form-container {
    padding: 1rem; }
    .pxm-sideMenu .form-container input {
      display: block;
      width: 100%; }
  .pxm-sideMenu__vertical {
    width: 90%;
    height: 100%;
    top: 0;
    z-index: 500; }
  .pxm-sideMenu__left {
    left: -90%; }
    .pxm-sideMenu__left.pxm-sideMenu-open {
      left: 0; }
  .pxm-sideMenu__right {
    right: -90%; }
    .pxm-sideMenu__right.pxm-sideMenu-open {
      right: 0; }

.menu-trigger {
  position: fixed;
  top: 45%;
  z-index: 480;
  background: #393e41;
  color: #f6f7eb;
  padding: 0.5em;
  border-radius: 35%; }
  .menu-trigger.fa {
    font-size: 2.75rem; }
  .menu-trigger.disable {
    color: #ef6461;
    pointer-events: none; }
  .menu-trigger#showVisualizationMenu {
    left: -20px;
    padding-left: 30px; }
    #pxm-sideMenu-visualization.pxm-sideMenu-open + .menu-trigger#showVisualizationMenu {
      left: calc( 90% - 20px);
      z-index: 490; }
  .menu-trigger#showMapsMenu {
    right: -20px;
    padding-right: 30px; }
    #pxm-sideMenu-maps.pxm-sideMenu-open + .menu-trigger#showMapsMenu {
      right: calc( 90% - 20px);
      z-index: 490; }

/*
 * 3DCSS code from here down will only be used for 3DCSS
 */
#D3dailyAVGSpeedGraph {
  max-width: 50%;
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

svg:not(:root) {
  overflow: visible; }

[class^="D3"] {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease; }

.D3graphHeader,
.D3graphSubHeader,
.D3graphMaxSpeed,
.D3graphMinSpeed {
  position: absolute; }

.D3graphHeader {
  bottom: 700%; }

.D3graphSubHeader {
  bottom: 650%; }

.D3graphMinSpeed,
.D3graphMaxSpeed,
.D3barSpeed,
.D3barHour {
  font-size: 1.5em;
  font-weight: 700;
  fill: #454b4f; }

.D3graphMaxSpeed {
  bottom: 600%; }
  .D3graphMaxSpeed span {
    color: #7fb069; }

.D3graphMinSpeed {
  bottom: 600%;
  right: 0; }
  .D3graphMinSpeed span {
    color: #ef6461; }

.D3barHour {
  fill: white; }

/*
 * GMAPS code from here down will only be used for GMAPS 
 */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  width: 100%; }

.SvgOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  width: 100%; }

.SvgOverlay svg {
  position: absolute;
  top: -4000px;
  left: -4000px;
  width: 8000px;
  height: 8000px; }

.speedTip_style {
  background-color: #393e41 !important;
  color: #f6f7eb !important; }

.device-count-container {
  position: fixed;
  z-index: 9000;
  top: 0;
  right: 0;
  background-color: #393e41;
  border-bottom-left-radius: 5px;
  padding: 10px; }
  .device-count-container p {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #f6f7eb; }
    .device-count-container p #device-count {
      font-family: "Francois One", sans-serif;
      font-weight: 700;
      letter-spacing: 2px; }

/*
	"#7FB069", // LIGHT GREEN
  "#034732", // GREEN
	"#F9DC5C", // LIGHT YELLOW
	"#FF9505", // YELLOW
	"#EF6461", // LIGHT RED
	"#630A08"  // RED
*/
#legend {
  display: block;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 3.75%;
  width: 25%;
  height: 45px;
  background-color: tomato;
  border: 2px #393e41 solid;
  background: -webkit-linear-gradient(right, #7FB069, #034732, #F9DC5C, #FF9505, #EF6461, #630A08);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(right, #7FB069, #034732, #F9DC5C, #FF9505, #EF6461, #630A08);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(right, #7FB069, #034732, #F9DC5C, #FF9505, #EF6461, #630A08);
  /* Standard syntax */
  background: linear-gradient(to left, #7FB069, #034732, #F9DC5C, #FF9505, #EF6461, #630A08);
  border-top-left-radius: 5px;
  font-size: 1.25rem; }
  #legend::after {
    content: 'Km/h';
    position: absolute;
    top: -2px;
    right: -15.55%;
    width: 15.55%;
    height: 45px;
    background-color: #393e41;
    padding: 5px;
    border: 2px #393e41 solid;
    line-height: 50px; }
  #legend span {
    width: 15.55%;
    border-right: 2px solid #393e41;
    display: inline-block;
    height: 100%;
    text-align: right;
    line-height: 45px;
    padding: 5px; }
    #legend span:last-child {
      border: none; }

/*
	DASHBOARD
*/
#dashboard {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2rem;
  height: 100%;
  width: 25%;
  background-color: #393e41;
  overflow-y: scroll;
  -ms-overflow-style: none;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  transition: all 350ms ease;
  box-shadow: 0 2px 5px 0 rgba(246, 247, 235, 0.16), 0 2px 10px 0 rgba(246, 247, 235, 0.12); }
  #dashboard.dashboard-close {
    /*transform: rotateY(90deg);*/
    height: 50px;
    width: 100px;
    border-bottom-right-radius: 7px;
    transform-origin: left; }
    #dashboard.dashboard-close #dashboard-control {
      position: initial;
      margin-bottom: 10000px; }
  #dashboard::-webkit-scrollbar {
    display: none; }
  #dashboard .section {
    border-bottom: 2px solid #8f989d; }
    #dashboard .section .section-title {
      color: #dde1b4;
      text-align: left; }
  #dashboard .title {
    color: #f6f7eb;
    padding-top: 0;
    margin-top: 0; }

#dashboard-control {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
  display: block;
  line-height: 2;
  text-align: center;
  font-family: "Francois One", sans-serif;
  border-bottom: 5px solid #f6f7eb; }
  #dashboard-control:hover {
    cursor: pointer; }

.full-width-btn, select {
  width: 100%;
  color: #f6f7eb !important; }

.week-day-select {
  background-color: #26A69A;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center; }

.copy {
  float: left; }

.about {
  float: right; }

/* APP-CONTAINER */
#app-container {
  position: absolute;
  top: 0;
  left: 25%;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  transition: all 400ms ease; }
  #app-container.fullscreen {
    left: 0; }

/* ABOUT US */
.staff {
  width: 21%;
  margin: 3.5em;
  height: auto;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  transition: all 400ms ease; }
  .staff:nth-child(2) {
    margin: 3.5em 0; }
  .staff.fullscreen {
    width: 27.5%; }
    .staff.fullscreen .staff-photo {
      width: 75%; }
  .staff .staff-photo {
    display: block;
    margin: auto;
    width: 95%;
    height: auto;
    border-radius: 50%;
    border: 10px solid;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .staff#chris .staff-photo {
    border-color: #7fb069; }
  .staff#kieren .staff-photo {
    border-color: #f9dc5c; }
  .staff#fidel .staff-photo {
    border-color: #ef6461; }
  .staff .staff-desc {
    text-align: center; }

.initials {
  font-size: 4rem;
  font-family: "Francois One", sans-serif;
  letter-spacing: 2px; }
  .initials.K {
    color: #f9dc5c; }
  .initials.F {
    color: #ef6461; }
  .initials.C {
    color: #7fb069; }

input#hour-range-value {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px; }

::-webkit-input-placeholder {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 100; }

::-moz-placeholder {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 100; }

/* firefox 19+ */
:-ms-input-placeholder {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 100; }

/* ie */
input:-moz-placeholder {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 100; }

/* All Progress Bars */
progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%; }

/* Determinate */
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

progress::-webkit-progress-bar {
  background: #f6f7eb;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
  border-radius: 2px; }

progress::-webkit-progress-value {
  border-radius: 2px; }
  #chris progress::-webkit-progress-value {
    background-color: #7fb069; }
  #kieren progress::-webkit-progress-value {
    background-color: #f9dc5c; }
  #fidel progress::-webkit-progress-value {
    background-color: #ef6461; }

/*	HELPERS  CLASSES  */
.cta-text {
  font-weight: 600; }
  #fidel .cta-text {
    color: #ef6461; }
  #chris .cta-text {
    color: #7fb069; }
  #kieren .cta-text {
    color: #f9dc5c; }

.rotate-180 {
  transform: rotateY(180deg); }

.screen-center {
  position: absolute;
  width: 100%;
  top: 35%; }

.kfc-hidden {
  display: none;
  visibility: hidden; }

