$menuWindth: 50%;
$menuZindex: 500;
$menuTriggerHeight: 25%;

.pxm-sideMenu {
	position: fixed;
	background: tomato;

	@at-root {
		#{&},
		.menu-trigger {
			-webkit-transition: all 350ms ease;
			-moz-transition: all 350ms ease;
			transition: all 350ms ease;
		}
	}

	& h3 {
		font-size: 1.9rem;
		padding: 1rem;
		margin: 0;
		font-weight: 300;
	}

	& input {
		display: block;
	}

	@at-root #{&}__vertical {
		width: $menuWindth;
		height: 100%;
		top: 0;
		z-index: $menuZindex;
	}

	@at-root #{&}__left {
		left: -$menuWindth;

		&.pxm-sideMenu-open {
			left: 0;
		}
	}

	@at-root #{&}__right {
		right: -$menuWindth;

		&.pxm-sideMenu-open {
			right: 0;
		}
	}
}

.menu-trigger {
	position: fixed;
	top: $menuTriggerHeight;
	height: $menuTriggerHeight;

	&#showVisualizationMenu {
		left: 0;

		#pxm-sideMenu-visualization.pxm-sideMenu-open + & {
			left: $menuWindth;
		}
	}

	&#showMapsMenu {
		right: 0;

		#pxm-sideMenu-maps.pxm-sideMenu-open + & {
			right: $menuWindth;
		}
	}
}
