@import 'palette';
@import 'media-queries';

$menuWindth: 90%;
$menuZindex: 500;
$menuTriggerTop: 45%;
$menuTriggerPull: 20px;

$headerFont: 'Francois One', sans-serif;
$textFont: 'Titillium Web', sans-serif;

@mixin transitionEase($timeMS) {
	-webkit-transition: all #{$timeMS}ms ease;
	-moz-transition: all #{$timeMS}ms ease;
	transition: all #{$timeMS}ms ease;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

body {
	overflow: hidden;
}

*{
	font-family: $textFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headerFont;
	text-align: center;
	text-transform: capitalize;
	font-variant: small-caps;
}


.pxm-sideMenu {
	position: fixed;
	background: $black;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	@at-root {
		#{&},
		.menu-trigger {
			@include transitionEase(350);
		}
	}

	& h3 {
		display: block;
		color: $white;
		border-bottom: solid 4px $white;
		padding: 10px 0;
		margin: 0;
		margin-bottom: 25px;
	}

	& .form-container {
		padding: 1rem;

		& input {
			display: block;
			width: 100%;
		}
	}

	@at-root #{&}__vertical {
		width: $menuWindth;
		height: 100%;
		top: 0;
		z-index: $menuZindex;
	}

	@at-root #{&}__left {
		left: -$menuWindth;

		&.pxm-sideMenu-open {
			left: 0;
		}
	}

	@at-root #{&}__right {
		right: -$menuWindth;

		&.pxm-sideMenu-open {
			right: 0;
		}
	}
}

.menu-trigger {
	position: fixed;
	top: $menuTriggerTop;
	z-index: $menuZindex - 20;
	background: $black;
	color: $white;
	padding: 0.5em;
	border-radius: 35%;

	&.fa {
		font-size: 2.75rem;
	}

	&.disable {
		color: $red;
		pointer-events: none;
	}

	&#showVisualizationMenu {
		left: -$menuTriggerPull;
		padding-left: $menuTriggerPull + 10px;

		#pxm-sideMenu-visualization.pxm-sideMenu-open + & {
			left: calc( #{$menuWindth} - #{$menuTriggerPull} );
			z-index: $menuZindex - 10;
		}
	}

	&#showMapsMenu {
		right: -$menuTriggerPull;
		padding-right: $menuTriggerPull + 10px;

		#pxm-sideMenu-maps.pxm-sideMenu-open + & {
			right: calc( #{$menuWindth} - #{$menuTriggerPull} );
			z-index: $menuZindex - 10;
		}
	}
}



/*
 * 3DCSS code from here down will only be used for 3DCSS
 */
svg:not(:root) {
	overflow: visible;
}

[class^="D3"] {
	@include transitionEase(500);
}

#D3 {
	text-align: center;

	& .D3bar {
		fill: $D3purple;

		&:nth-child(n + 11) {
			fill: $D3sea;
		}

		&:nth-child(n + 21) {
			fill: $D3pink;
		}
	}
}


@media only screen and (max-width: 768px) {

	/*svg {
		transform: scaleX(0.275);
		transform-origin: left;
	}*/
	.menu-trigger {
		top: 5%;
	}
}

@include screen(320px, 640px, landscape) {
	.barChart {
		transform: scale(0.5);
		transform-origin: left;
	}
}

@include screen(320px, 640px, portrait) {
	.barChart {
		display: none;
	}
}



/*
 * GMAPS code from here down will only be used for GMAPS 
 */


#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 25%;
	right: 0;
	z-index: 0;
	height: 100%;
	width: 75%;
}



/*
	DASHBOARD
*/

#dashboard {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 2rem;
	height: 100%;
	width: 25%;
	background-color: $black;

	& .section {
		border-bottom: 2px solid lighten($black, 35%);

		& .section-title {
			color: darken($white, 15%);
			text-align: left;
		}
	}

	& .title {
		color: $white;
		padding-top: 0;
		margin-top: 0;
	}
}

.full-width-btn, select {
	width: 100%;
	color: $white !important;
}

.week-day-select {
	background-color: #26A69A;
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
}

.footer {
	position: absolute;
	bottom: 5px;
}

.about {
	right: 2rem;
}


/* APP-CONTAINER */
.app-container {
	position: absolute;
	top: 0;
	left: 25%;
	bottom: 0;
	right: 0;
	height: 100%;
}

/* ABOUT US */

.staff {
	width: 25%;
	margin: 3rem;
	height: auto;
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: top;
	& .staff-photo {
		width: 100%;
		height: auto;
		border-radius: 50%;
		border: 10px solid;
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}

	&#chris .staff-photo {
		border-color: $green;
	}
	&#kieren .staff-photo {
		border-color: $yellow;
	}
	&#fidel .staff-photo {
		border-color: $red;
	}

	& .staff-name {
		text-decoration: underline;
	}

	& .staff-desc {
		text-align: center;
		font-size: 1.25rem;
	}
}

/* All Progress Bars */
progress {
	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
}

/* Determinate */
progress[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

progress::-webkit-progress-bar {
	background: $white;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
	border-radius: 2px;
}

progress::-webkit-progress-value {
	border-radius: 2px;
	#chris &{
		background-color: $green;
	}
	#kieren &{
		background-color: $yellow;
	}
	#fidel &{
		background-color: $red;
	}
}


/*	HELPERS  CLASSES  */
.cta-text{
	font-weight: 900;
	color: lighten($black, 7.5%);
}