@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<section id="staff-container">
    <div class="staff" id="kieren">
        <img runat="server" src="~/Content/Media/kieren.jpg" alt="Kieren" class="staff-photo" />
        <h4 class="staff-name"><span class="K initials">K</span>ieren Graham</h4>
        <p class="staff-desc">
            I am in my final year of my
            <abbr title="Bachelor of Information Communication Technology">B ICT</abbr> at
            <abbr title="Western Sydney University">WSU</abbr>. For this project I was the main <span class="cta-text">Back-End Web Developer</span>. My goal after graduation is to become a System Administrator, to manage and maintain a business's IT infrastructure.
            </p>
            <div class="staff-skills">
                <h5>Skills:</h5>
                <span>DATABASE</span>
                <span class="right">~ 50%</span>
                <progress value="50" max="100"></progress>
                <span>GOOGLE MAPS API</span>
                <span class="right">~ 40%</span>
                <progress value="40" max="100"></progress>
                <span>JAVASCRIPT</span>
                <span class="right">~ 50%</span>
                <progress value="50" max="100"></progress>
                <span>C#</span>
                <span class="right">~ 60%</span>
                <progress value="60" max="100"></progress>
            </div>
</div>
    <div class="staff" id="fidel">
        <img runat="server" src="~/Content/Media/fidel.png" alt="Fidel" class="staff-photo" />
        <h4 class="staff-name"><span class="F initials">F</span>idel Torres</h4>
        <p class="staff-desc">
            At this time, 16/10/2016 I'm in my last year at
            <abbr title="Western Sydney University">WSU</abbr>. Looking forward to my graduation and from there become a <span class="cta-text">Front-End Web Developer</span>. Create many web apps, but among them a FREE Learning Site, so I can give back to the new generations.
        </p>
        <div class="staff-skills">
            <h5>Skills:</h5>
            <span>D3.JS/GOOGLE MAPS</span>
            <span class="right">~ 45%</span>
            <progress value="45" max="100"></progress>
            <span>DESIGN/UX/UI</span>
            <span class="right">~ 55%</span>
            <progress value="55" max="100"></progress>
            <span>JAVASCRIPT</span>
            <span class="right">~ 65%</span>
            <progress value="65" max="100"></progress>
            <span>HTML/CSS</span>
            <span class="right">~ 85%</span>
            <progress value="85" max="100"></progress>
        </div>
    </div>
    <div class="staff" id="chris">
        <img runat="server" src="~/Content/Media/chris.jpg" alt="Chris" class="staff-photo" />
        <h4 class="staff-name"><span class="C initials">C</span>hris Vellio</h4>
        <p class="staff-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quam explicabo ex quae, alias veniam. Dolorum, voluptates temporibus officiis ea unde dicta repudiandae quo laudantium natus! Beatae dolorem temporibus sapiente quia quod, iure voluptatem commodi?</p>
        <div class="staff-skills">
            <h5>Skills:</h5>
            <span>Project Management</span>
            <span class="right">~ 60%</span>
            <progress value="60" max="100"></progress>
            <span>Documentation</span>
            <span class="right">~ 75%</span>
            <progress value="75" max="100"></progress>
            <span>Networking</span>
            <span class="right">~ 75%</span>
            <progress value="75" max="100"></progress>
            <span>Web Development</span>
            <span class="right">~ 50%</span>
            <progress value="50" max="100"></progress>
        </div>
    </div>
</section>
